---
---

footer {
  padding-top: 120px;
  background: #2c2c2c;
  color: white;

  .flexi-i {
    padding-left: 20px;

    @media(max-width: 680px) {
      min-width: 200px;
      max-width: 33.333%;
    }
    @media(max-width: 680px) {
      min-width: 100%;
      max-width: 100%;
      text-align: center;
    }
  }
  #logo {
    display: inline-block;
    width: 165px;
    height: 45px;
    margin-bottom: 5px;
    background: gray;
  }
  a {
    color: white;
  }
  .sec h5 {
    font: 700 16px/32px 'Montserrat', sans-serif;
  }
  .sec li {
    font: 300 12px/18px 'Montserrat', sans-serif;
    cursor: pointer;
  }
  .pin {
    display: inline-block;
    height: 16px;
    width: 16px; 
    background: url(../images/pin.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
