@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:100,200,300,400,500,600,700,800,900');

* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  z-index: 300;
}
html, body {
  width: 100%;
  height: 100vh;
  color: #222222;
  background: #FEFEFA;
  overflow-x: hidden;
}
/* flex item */
.flexi-i {
  flex: 1 1;
  min-height: 0; /* weird firefox thing for nested overflow-y */
}
/* flex container */
.flexi-c {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
}
.w {
  flex-wrap: wrap;
}
.r {
  flex-direction: row;
}
.middle {
  width: 1360px;
  max-width: 100%;
  margin: 0 auto;
}
.split-q {
  flex: 0 0 50%;
}
.split-q:first-child {
  padding-right: 60px;
}
.split-q h5 {
  font: 800 18px/20px 'Montserrat', sans-serif;
  padding-bottom: 15px;
  color: gray;
}
.split-q p {
  font: 500 13px/16px 'Montserrat', sans-serif;
  padding-bottom: 5px;
}
.split-q ul {
  padding-left: 20px;
  padding-bottom: 5px;
}
.split-q li {
  font: 500 13px/16px 'Montserrat', sans-serif;
  list-style-type: circle;
}
section , header, footer {
  width: 100%;
  padding: 80px 0;
  background: lightgray;
}
.flex-shrink {
  width: 1060px;
  max-width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
section h1 {
  padding-bottom: 30px;
  text-align: left;
  font: 800 40px/40px 'Montserrat', sans-serif;
}
.temp_block {
  width: 100%;
  height: 280px;
  background: lightgray;
}
header .temp_block {
  background: gray;
}
.wide h4 {
  font: 500 18px/24px 'Montserrat', sans-serif;
  padding-right: 80px;
  padding-bottom: 15px;
  color: gray;
}
.wide .temp_block {
  background: darkgray;
}
.wide .graphic {
  display: block;
  width: 100%;
}
@media (max-width: 840px) {
  .break-v {
    width: 620px;
    max-width: 100%;
    margin: 0 auto;
    flex-direction: column;
  }
  .break-v > .split {
    flex: 0 0 100%;
    border: none !important;
  }
  .break-v > .split > .split-inner {
    padding: 0 !important;
  }
  .break-v > .split-q {
    flex: 0 0 100%;
  }
  .break-v > .split-q:not(:last-child) {
    margin-bottom: 20px;
  }
  .break-v > .col:not(:last-child) {
    margin-bottom: 20px;
  }
  .break-v > .split-q:first-child {
    padding-right: 0;
  }
  .flex-shrink > h1 {
    text-align: center;
  }
  .flex-shrink > h4 {
    padding-right: 0;
    text-align: center;
  }
  .flex-shrink > p {
    text-align: center;
  }
}