---
---

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:100,200,300,400,500,600,700,800,900');

* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  z-index: 300;
}
html, body {
  width: 100%;
  height: 100vh;
  color: #222222;
  background: #F8F8F8;
  overflow-x: hidden;
}
h1 { font: 800 40px/42px 'Montserrat', sans-serif; }
h2 { font: 700 32px/34px 'Montserrat', sans-serif; }
h3 { font: 600 20px/24px 'Montserrat', sans-serif; }
h4 { font: 600 18px/22px 'Montserrat', sans-serif; }
h5 { font: 600 16px/20px 'Montserrat', sans-serif; }
li { font: 500 14px/20px 'Open Sans', sans-serif; }
p { font: 500 14px/20px 'Open Sans', sans-serif; }

/* flex item */
.flexi-i {
  flex: 1 1;
  min-height: 0; /* weird firefox thing for nested overflow-y */
}
/* flex container */
.flexi-c {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
}
.w {
  flex-wrap: wrap;
}
.r {
  flex-direction: row;
}


.split-q {
  flex: 0 0 50%;
}
.split-q:first-child {
  padding-right: 60px;
}
.split-q h5 {
  font: 800 18px/20px 'Montserrat', sans-serif;
  padding-bottom: 15px;
  color: gray;
}
.split-q p {
  font: 500 13px/16px 'Montserrat', sans-serif;
  padding-bottom: 5px;
}
.split-q ul {
  padding-left: 20px;
  padding-bottom: 5px;
}
.split-q li {
  font: 500 13px/16px 'Montserrat', sans-serif;
  list-style-type: circle;
}
section , header, footer {
  width: 100%;
  padding: 80px 0;
}
.flex-shrink {
  width: 1060px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
section h1 {
  padding-bottom: 30px;
  text-align: left;
  font: 800 40px/40px 'Montserrat', sans-serif;
}
.temp_block {
  width: 100%;
  height: 280px;
  background: lightgray;
}

/***********************/
/* vertical break points */
/***********************/

@media (max-width: 840px) {
  .break-v {
    width: 620px;
    max-width: 100%;
    margin: 0 auto;
    flex-direction: column;
  }
  .break-v > .split {
    flex: 0 0 100%;
    border: none !important;
  }
  .break-v > .split > .split-inner {
    padding: 0 !important;
  }
  .break-v > .split-q {
    flex: 0 0 100%;
  }
  .break-v > .split-q:not(:last-child) {
    margin-bottom: 20px;
  }
  .break-v > .col:not(:last-child) {
    margin-bottom: 20px;
  }
  .break-v > .split-q:first-child {
    padding-right: 0;
  }
  .flex-shrink > h1 {
    text-align: center;
  }
  .flex-shrink > h4 {
    padding-right: 0;
    text-align: center;
  }
  .flex-shrink > p {
    text-align: center;
  }
}

/***********************/
/* hline split */
/***********************/

.h-line {
  > div {
    margin: 0 auto;
    width: 600px;
    max-width: calc(100% - 20px);
    height: 4px;
    background: lightgray;
    border-radius: 3px;
  }
}

/***********************/
/* multi-step boxes */
/***********************/

.steps {
  column-count: 4;
  column-gap: 20px;

  > .step {
    break-inside: avoid;
    border-radius: 5px;
    background: white;
    margin-bottom: 25px;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.1);

    .graphic {
      width: 100%;
      border-radius: 5px;
    }
    .label {
      width: 100%;
      line-height: 50px;
      text-align: center;
      background: black;
      color: white;
    }
    .text {
      padding: 25px;
    }
  }
  > .step:not(:last-child) {
    .label::after {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      right: -5px;
      top: calc(50% - 5px);
      background: black;
      transform: rotate(45deg);
    }
    @media(max-width: 960px) { .label::after { display: none; }}
  }
  @media(max-width: 960px) {
    column-count: 2;

    width: 540px;
    max-width: 100%;
    margin: 0 auto;
  }
  @media(max-width: 480px) {
    column-count: 1;
    width: 300px;
  }
}