---
---

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:100,200,300,400,500,600,700,800,900');


/****************************/
/* element presets          */
/****************************/


* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  z-index: 300;
}
html, body {
  width: 100%;
  height: 100vh;
  color: #222222;
  background: #F8F8F8;
  overflow-x: hidden;
}
h1 { font: 800 40px/42px 'Montserrat', sans-serif; }
h2 { font: 700 32px/34px 'Montserrat', sans-serif; }
h3 { font: 600 20px/24px 'Montserrat', sans-serif; }
h4 { font: 600 18px/22px 'Montserrat', sans-serif; }
h5 { font: 600 16px/20px 'Montserrat', sans-serif; }
li { font: 500 14px/20px 'Open Sans', sans-serif; }
p { font: 500 14px/20px 'Open Sans', sans-serif; }
label {
  font: 700 16px/20px 'Montserrat', sans-serif;
  color: gray;
}
input, textarea {
  width: 100%;
  border: none;
  outline: none;
  font: 500 18px/32px 'Open Sans', sans-serif;
  padding-left: 5px;
  margin-bottom: 10px;
  background: lightgray;
}
textarea {
  padding: 5px;
}

section , header, footer {
  width: 100%;
  padding: 80px 0;
}
section h1 {
  padding-bottom: 30px;
  text-align: left;
  font: 800 40px/40px 'Montserrat', sans-serif;
}
.temp_block {
  width: 100%;
  height: 280px;
  background: lightgray;
}

/****************************/
/* flexbox presets          */
/****************************/

/* flex item */
.flexi-i {
  flex: 1 1;
  min-height: 0; /* weird firefox thing for nested overflow-y */
}
/* flex container */
.flexi-c {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
}
.w { flex-wrap: wrap; }
.r { flex-direction: row; }

/****************************/
/* primary section wrapper  */
/****************************/

.flex-shrink {
  width: 1060px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media (max-width: 840px) {
    > h1, > h4, > p, > a { text-align: center; }
    > h4 { padding-right: 0; }
  }
}

/***********************/
/* two col split       */
/***********************/

.new_split {
  column-count: 2;
  column-gap: 80px;

  > div {
    break-inside: avoid;
  }

  @media(max-width: 640px) {
    column-count: 1;

    > div:not(:last-child) {
      padding-bottom: 40px;
    }
  }
}

/***********************/
/* hline split */
/***********************/

.h-line {
  > div {
    margin: 0 auto;
    width: 600px;
    max-width: calc(100% - 20px);
    height: 4px;
    background: lightgray;
    border-radius: 3px;
  }
}
