---
---

header {
  padding-top: 60px;
  background: lavender;
}
header h1 {
  text-align: left;
  padding-bottom: 30px;
}
header p {
  text-align: left;
  font: 400 18px/22px 'Montserrat', sans-serif;
}
header a {
  display: inline-block;
  width: 220px;
  margin-top: 10px;
  margin-right: 5px;
  font: 400 16px/28px 'Montserrat', sans-serif;
  text-align: center;
  border-radius: 3px;
  background: white;
  color: #222222;
  border-bottom: 2px solid lightgray;
}
@media (max-width: 840px) {
  .whitepaper {
    display: block;
    margin: 10px auto;
  }
}