---
---

#background {
  // text-align: center;

  p {
    text-align: justify;
  }

  .flexi-c > .flexi-i:last-child {
    margin-left: 20px;
  }

  @media(max-width: 720px) {
    .flexi-c {
      flex-direction: column;

      > .flexi-i:last-child {
        margin: 0;
        padding-top: 20px;
      }
    }
  }
}

/***********************/
/* concept section     */
/***********************/

#concept {
  .s-title { padding-bottom: 40px; }

  .quad {
    background: white;
    padding: 60px;
    border-radius: 3px;
    border-bottom: 3px solid lightgray;

    .quad-item {
      text-align: justify;

      .icon {
        display: block;
        width: 70px;
        height: 70px;
        margin: 0 auto;
        margin-bottom: 20px;
        background: lightgray; //#F2F2F2
        border-radius: 50%;
      }
    }
    .flexi-c {
      padding-top: 60px;

      @media(max-width: 720px) {
        width: 400px;
        max-width: 100%;
        margin: 0 auto;
        flex-direction: column;

        .flexi-i {
          margin: 0;
          padding-bottom: 20px;
          text-align: center;
        }
      }
    }
    .flexi-i:not(:last-child) {
      margin-right: 30px;
    }
    > h4 {
      text-align: left;
    }
  }
}

/***********************/
/* open market section */
/***********************/

#tech {
  ul {
    padding-left: 20px;
  }
  li {
    list-style: circle;
    padding-bottom: 5px;
  }

  .tech-header {
    width: 100%;
    height: 250px;
    padding-bottom: 50px;

    img {
      position: absolute;
      width: 440px;
      max-width: 100%;
      right: 0;
      bottom: 0;
    }
  }
  p {
    text-align: justify;
  }

  .flexi-i:not(:last-child) {
    margin-right: 20px;

    @media(max-width: 720px) {
      margin: 0;
      padding-bottom: 20px;
    }
  }
  .flexi-c {
    @media(max-width: 720px) {
      flex-direction: column;
    }
  }
}

/***********************/
/* team section */
/***********************/

#team {
  .member {
    flex: 0 0 50%;
    padding-bottom: 30px;
    text-align: center;

    @media(min-width: 440px) {flex: 0 0 50%;}
    @media(min-width: 660px) {flex: 0 0 33.3333%;}
    @media(min-width: 880px) {flex: 0 0 25%;}

    > * {
      margin: 0 auto;
      max-width: 140px;
    }
    .img_placeholder {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background: gray;
      margin-bottom: 10px;
    }
    h5 {
      font: 700 16px/24px 'Montserrat', sans-serif;
    }
    p {
      font: 500 12px/14px 'Montserrat', sans-serif;
      color: gray;
    }
  }
}

/***********************/
/* vision section */
/***********************/

#vision {
  .block {
    background: white;
    border-bottom: 3px solid lightgray;
    border-radius: 3px;
    padding: 60px;
  }
}