---
---

nav {
  position: fixed;
  -webkit-transform: translateZ(0); /* position fixed chrome fix */
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #2c2c2c;
  z-index: 500;

  .h-link {
    flex: 0 0 auto;
    margin: 15px 0;
    margin-left: 40px;
    font: 200 14px/30px 'Open Sans', sans-serif;
    color: white;
  }
  .h-link.h-button {
    padding: 0 20px;
    margin-right: 10px;
    border-radius: 3px;
    font-weight: 600;
    color: black;
    text-shadow: 0 0 3px white;
    background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
  }
  #logo {
    flex: 0 0 220px;
    height: 60px;
    margin-left: 0;
    margin-right: auto;
    background: gray;
  }
}
.nav_spacer {
  width: 100%;
  height: 60px;
}