---
---

#roadmap {
  padding-bottom: 0;
  text-align: justify;

  .s-title { padding-bottom: 40px; }
  .rundown {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;

    h4:not(:first-child) { margin-top: 10px; }
  }
}

#milestones {
  .milestone {
    &:not(:last-child) {
      margin-bottom: 60px;

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: calc(50% - 2px);
        height: 100%;
        width: 4px;
        background: lightgray;
      }
    }
  }
}