---
---

#roadmap {
  .s-title {
    padding-bottom: 20px;
  }
  p {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 80px;
  }
  p:last-child {
    padding-bottom: 0;
  }
}