nav {
  position: fixed;
  -webkit-transform: translateZ(0); /* position fixed chrome fix */
  top: 0;
  width: 1360px;
  height: 60px;
  margin: 0 auto;
  padding: 0 160px;
  background: lightgray;
  z-index: 500;
}
nav .h-link {
  flex-grow: 0;
  margin: 15px 0;
  margin-left: 40px;
  font: 200 14px/30px 'Open Sans', sans-serif;
  color: gray;
}
nav .h-link.h-button {
  padding: 0 20px;
  border-radius: 3px;
  font-weight: 600;
  color: white;
  background: gray;
}
nav #logo {
  flex: 0 0 220px;
  height: 60px;
  margin-left: 0;
  margin-right: auto;
  background: gray;
}
.nav_spacer {
  width: 100%;
  height: 60px;
}
header {
  padding-top: 60px;
  background: lavender;
}
header h1 {
  text-align: left;
  font: 800 40px/40px 'Montserrat', sans-serif;
  padding-bottom: 30px;
}
header p {
  text-align: left;
  font: 400 18px/22px 'Montserrat', sans-serif;
}
header a {
  display: inline-block;
  width: 220px;
  margin-top: 10px;
  margin-right: 5px;
  font: 400 16px/28px 'Montserrat', sans-serif;
  text-align: center;
  border-radius: 3px;
  background: white;
  color: #222222;
  border-bottom: 2px solid lightgray;
}
/* homepage specific */
.home {
  padding-bottom: 0;
  background: lightgray;
}
.intro {
  max-width: 720px;
  margin: 0 auto;
  padding: 80px 0;
  text-align: center;
}
.intro h2 {
  font: 400 34px/40px 'Montserrat', sans-serif;
}
.intro p {
  font: 400 16px/22px 'Montserrat', sans-serif;
  color: gray;
}
.splash {
  width: 700px;
  height: 320px;
  margin: 0 auto;
  background: gray;
}
.s-box {
  position: absolute;
  width: 100px;
  height: 100px;
  background: lavender;
}
.s-box.i {
  top: 0;
  right: 0;
}
.s-box.ix {
  top: 100px;
  right: 100px;
}
.s-box.ixi {
  top: 0;
  right: 300px;
}
.s-box.ii {
  top: 300px;
  left: 300px;
}
.s-box.xx {
  top: 100px;
  left: 0;
}
.s-box.xxi {
  top: 200px;
  left: 100px;
}

/***********************/
/* logos section */
/***********************/

.logos {
  padding: 20px 160px;
  background: #ecf0f1;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lavender;
}
.t-logo {
  width: 180px;
  height: 40px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  background-image: url(../images/paypal.png);
}
.t-logo.paypal {
  background-image: url(../images/paypal.png);
}

/***********************/
/* open market section */
/***********************/

.open_market {
  background: lavender;
}
.open_market h5 {
  font: 800 30px/40px 'Montserrat', sans-serif;
  color: #222222;
}
.open_market .stats_block {
}
.open_market .stats_block > div:not(:last-child) {
  padding-bottom: 10px;
}
.open_market .stats_block .icon {
  flex: 0 0 50px;  
  height: 50px;
  margin: 10px;
}
.open_market .stats_block h3 {
  font: 500 22px/24px 'Montserrat', sans-serif;
  padding-bottom: 5px;
  color: #383838;
}
.open_market .stats_block p {
}
.stat > .icon {
  background: url(../images/conversation.svg);
  background-size: contain;
  background-position: center;
}

/***********************/
/* sharing section */
/***********************/

.sharing {
  text-align: left;
  background: lightgray;
}
.sharing h4 {
  font: 500 18px/24px 'Montserrat', sans-serif;
  padding-right: 80px;
  padding-bottom: 15px;
  color: gray;
}
.sharing .points {
  width: 100%;
  padding: 20px 0;
}
.sharing .points .col {
  height: 120px;
}
.sharing .points .col .icon {
  flex: 0 0 120px;
  height: 120px;
  margin: 0 10px;
  padding: 25px;
  border-radius: 50%;
  background: lavender;
}
.sharing .points .col .icon img {
  display: block;
  width: 70px;
  height: 70px;
}
.sharing .points .col .text {
  /*top: calc(50% - 40px);*/
  margin-top: 25px;
}
.sharing .points .col h3 {
  font: 500 22px/24px 'Montserrat', sans-serif;
  padding-bottom: 10px;
}
.sharing .points .col p {
  font: 500 14px/18px 'Open Sans', sans-serif;
}

/***********************/
/* barrier to entry section */
/***********************/

.low_barrier {
  background: lavender;
}
.low_barrier h1 {
  text-align: center;
}

/***********************/
/* advisors section */
/***********************/

.advisors {
  background: lavender;
  padding-bottom: calc(320px + 80px);
}
.advisor {
  padding-bottom: 30px;
}
.advisor .img_placeholder {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: gray;
  margin-bottom: 10px;
}
.advisor h5 {
  font: 700 16px/24px 'Montserrat', sans-serif;
}
.advisor p {
  font: 500 12px/14px 'Montserrat', sans-serif;
  color: gray;
}

/***********************/
/* faq section */
/***********************/

.faq {
  background: lightgray;
  padding-bottom: calc(320px + 80px);
}
.faq .sidebar {
  flex: 0 0 140px;
}
.faq .sidebar h4 {
  font: 700 16px/32px 'Montserrat', sans-serif;
}
.faq .sidebar li {
  padding-left: 15px;
  font: 300 12px/18px 'Montserrat', sans-serif;
  cursor: pointer;
}
.faq .left {
  padding-right: 20px;
}
.faq .left {
  padding-left: 20px;
}
.qna h5 {
  font: 700 16px/32px 'Montserrat', sans-serif;
  color: gray;
}
.qna p {
  font: 500 12px/16px 'Montserrat', sans-serif;
  padding-bottom: 15px;
}
.faq hr {
  width: 24px;
  height: 6px;
  background: lightgray;
  border: none;
  margin: 10px 0;
}

/***********************/
/* contact section     */
/***********************/

.contact {
  background: lightgray;
}
.contact h2 {
  font: 700 24px/32px 'Montserrat', sans-serif;
  padding-bottom: 20px;
  color: gray;
}
.contact .sidebar {
  flex: 0 0 320px;
}
.contact .sidebar ul {
  padding-bottom: 15px;
}
.contact .sidebar h4 {
  font: 700 16px/20px 'Montserrat', sans-serif;
}
.contact .sidebar li {
  padding-left: 15px;
  font: 500 14px/20px 'Montserrat', sans-serif;
}
.contact form {

}
.contact form .left {
  padding-right: 5px;
}
.contact form .right {
  padding-left: 5px;
}
.contact label {
  font: 700 16px/20px 'Montserrat', sans-serif;
  color: gray;
}
.contact input {
  width: 100%;
  border: none;
  outline: none;
  font: 500 18px/32px 'Open Sans', sans-serif;
  padding-left: 5px;
  margin-bottom: 15px;
}

/***********************/
/* footer section      */
/***********************/

footer {
  padding-top: 120px;
  background: darkgray;
}

footer .call_to_action {
  position: absolute;
  top: -320px;
  left: 80px;
  width: calc(100% - 160px);
  height: 400px;
  padding: 80px;
  border-radius: 3px;
  background: #ecf0f1;
}
footer .call_to_action > .flexi-c {
  width: 100%;
  height: 100%;
}
footer .call_to_action .left {
  border-right: 1px solid lightgray;
  padding-right: 20px;
  height: 100%;
}
footer .call_to_action .left h3 {
  top: calc(50% - 50px);
  margin: 0 100px;
  font: 600 24px/28px 'Montserrat', sans-serif;
  text-align: center;
}
footer .call_to_action .right {
  padding-right: 40px;
  padding-left: 60px;
  height: 100%;
}
footer .call_to_action label {
  font: 700 16px/20px 'Montserrat', sans-serif;
  color: gray;
}
footer .call_to_action input {
  width: 100%;
  border: none;
  outline: none;
  font: 500 18px/32px 'Open Sans', sans-serif;
  padding-left: 5px;
  margin-bottom: 10px;
}
footer .call_to_action .checkbox {
  height: 32px;
  width: 100%;
  margin-bottom: 10px;
  background: lightgray;
}
footer .call_to_action .checkbox input {
  flex: 0 0 32px;
  height: 20px;
  padding: 0px;
  margin: 6px;
}
footer .call_to_action .checkbox p {
  flex: 1 1;
  font: 500 18px/32px 'Open Sans', sans-serif;
}
footer #logo {
  display: block;
  width: 165px;
  height: 45px;
  margin-bottom: 5px;
  background: gray;
}
footer .sec h5 {
  font: 700 16px/32px 'Montserrat', sans-serif;
}
footer .sec li {
  font: 300 12px/18px 'Montserrat', sans-serif;
  cursor: pointer;
}
footer .pin {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url(../images/pin.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}