header {
  background: lightgray;
  /*background: url(../images/background.jpg);*/
  /*background-size: cover;*/
  /*-webkit-filter: grayscale(100%);*/
}
header nav {
  width: 100%;
  height: 60px;
}
header nav .h-link {
  flex-grow: 0;
  margin: 15px 0;
  margin-left: 40px;
  font: 200 14px/30px 'Open Sans', sans-serif;
  color: gray;
}
header nav .h-link.h-button {
  padding: 0 20px;
  border-radius: 3px;
  font-weight: 600;
  color: white;
  background: gray;
}
header nav #logo {
  flex: 0 0 220px;
  height: 60px;
  margin-left: 0;
  margin-right: auto;
  background: gray;
}
.intro {
  max-width: 720px;
  margin: 0 auto;
  padding: 80px 0;
  text-align: center;
}
.intro h2 {
  font: 400 34px/40px 'Montserrat', sans-serif;
}
.intro p {
  font: 400 16px/22px 'Montserrat', sans-serif;
  color: gray;
}
.splash {
  width: 700px;
  height: 320px;
  margin: 0 auto;
  background: gray;
}
.s-box {
  position: absolute;
  width: 100px;
  height: 100px;
  background: lavender;
}
.s-box.i {
  top: 0;
  right: 0;
}
.s-box.ix {
  top: 100px;
  right: 100px;
}
.s-box.ixi {
  top: 0;
  right: 300px;
}
.s-box.ii {
  top: 300px;
  left: 300px;
}
.s-box.xx {
  top: 100px;
  left: 0;
}
.s-box.xxi {
  top: 200px;
  left: 100px;
}

/***********************/
/* logos section */
/***********************/

.logos {
  padding: 20px 160px;
  background: #ecf0f1;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lavender;
}
.t-logo {
  width: 180px;
  height: 40px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  background-image: url(../images/paypal.png);
}
.t-logo.paypal {
  background-image: url(../images/paypal.png);
}

/***********************/
/* open market section */
/***********************/

.open_market {
  background: lavender;
}
.open_market h1 {
  text-align: center;
}

/***********************/
/* transparency section */
/***********************/

.transparency {
  text-align: left;
  background: lightgray;
}
.transparency h4 {
  font: 500 18px/24px 'Montserrat', sans-serif;
  padding-right: 80px;
  padding-bottom: 15px;
  color: gray;
}
.transparency .temp_block {
  background: darkgray;
}

/***********************/
/* barrier to entry section */
/***********************/

.low_barrier {
  background: lavender;
}
.low_barrier h1 {
  text-align: center;
}

/***********************/
/* evaluation section */
/***********************/

.evaluation {
  background: lightgray;
}
.evaluation h4 {
  font: 500 18px/24px 'Montserrat', sans-serif;
  padding-right: 80px;
  padding-bottom: 15px;
  color: gray;
}
.evaluation .temp_block {
  background: darkgray;
}

/***********************/
/* tech section */
/***********************/

.tech {
  background: lightgray;
}
.tech h1 {
  text-align: center;
}
.tech .temp_block {
  background: darkgray;
}

/***********************/
/* advisors section */
/***********************/

.advisors {
  background: lightgray;
  padding-bottom: calc(320px + 80px);
}
.advisor {
  padding-bottom: 30px;
}
.advisor .img_placeholder {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: gray;
  margin-bottom: 10px;
}
.advisor h5 {
  font: 700 16px/24px 'Montserrat', sans-serif;
}
.advisor p {
  font: 500 12px/14px 'Montserrat', sans-serif;
  color: gray;
}

/***********************/
/* faq section */
/***********************/

.faq {
  background: lightgray;
  padding-bottom: calc(320px + 80px);
}
.faq .sidebar {
  flex: 0 0 140px;
}
.faq .sidebar h4 {
  font: 700 16px/32px 'Montserrat', sans-serif;
}
.faq .sidebar li {
  padding-left: 15px;
  font: 300 12px/18px 'Montserrat', sans-serif;
  cursor: pointer;
}
.faq .left {
  padding-right: 20px;
}
.faq .left {
  padding-left: 20px;
}
.qna h5 {
  font: 700 16px/32px 'Montserrat', sans-serif;
  color: gray;
}
.qna p {
  font: 500 12px/16px 'Montserrat', sans-serif;
  padding-bottom: 15px;
}
.faq hr {
  width: 24px;
  height: 6px;
  background: lightgray;
  border: none;
  margin: 10px 0;
}

/***********************/
/* contact section     */
/***********************/

.contact {
  background: lightgray;
}
.contact h2 {
  font: 700 24px/32px 'Montserrat', sans-serif;
  padding-bottom: 20px;
  color: gray;
}
.contact .sidebar {
  flex: 0 0 320px;
}
.contact .sidebar ul {
  padding-bottom: 15px;
}
.contact .sidebar h4 {
  font: 700 16px/20px 'Montserrat', sans-serif;
}
.contact .sidebar li {
  padding-left: 15px;
  font: 500 14px/20px 'Montserrat', sans-serif;
}
.contact form {

}
.contact form .left {
  padding-right: 5px;
}
.contact form .right {
  padding-left: 5px;
}
.contact label {
  font: 700 16px/20px 'Montserrat', sans-serif;
  color: gray;
}
.contact input {
  width: 100%;
  border: none;
  outline: none;
  font: 500 18px/32px 'Open Sans', sans-serif;
  padding-left: 5px;
  margin-bottom: 15px;
}

/***********************/
/* Page Header         */
/***********************/
.page_header {
  background: lavender;
}
.page_header h1 {
  text-align: left;
}
.page_header p {
  text-align: left;
  font: 400 18px/22px 'Montserrat', sans-serif;
}

/***********************/
/* footer section      */
/***********************/

footer {
  height: 600px;
  padding-top: 120px;
  background: darkgray;
}

footer .call_to_action {
  position: absolute;
  top: -320px;
  left: 80px;
  width: calc(100% - 160px);
  height: 400px;
  border-radius: 3px;
  background: #ecf0f1;
}
footer #logo {
  display: block;
  width: 165px;
  height: 45px;
  margin-bottom: 5px;
  background: gray;
}
footer .sec h5 {
  font: 700 16px/32px 'Montserrat', sans-serif;
}
footer .sec li {
  font: 300 12px/18px 'Montserrat', sans-serif;
  cursor: pointer;
}