nav {
  position: fixed;
  -webkit-transform: translateZ(0); /* position fixed chrome fix */
  top: 0;
  width: 1360px;
  max-width: 100%;
  height: 60px;
  margin: 0 auto;
  background: lightgray;
  z-index: 500;
}
nav .h-link {
  flex-grow: 0;
  margin: 15px 0;
  margin-left: 40px;
  font: 200 14px/30px 'Open Sans', sans-serif;
  color: gray;
}
nav .h-link.h-button {
  padding: 0 20px;
  margin-right: 10px;
  border-radius: 3px;
  font-weight: 600;
  color: white;
  background: gray;
}
nav #logo {
  flex: 0 0 220px;
  height: 60px;
  margin-left: 0;
  margin-right: auto;
  background: gray;
}
.nav_spacer {
  width: 100%;
  height: 60px;
}
header {
  padding-top: 60px;
  background: lavender;
}
header h1 {
  text-align: left;
  font: 800 40px/40px 'Montserrat', sans-serif;
  padding-bottom: 30px;
}
header p {
  text-align: left;
  font: 400 18px/22px 'Montserrat', sans-serif;
}
header a {
  display: inline-block;
  width: 220px;
  margin-top: 10px;
  margin-right: 5px;
  font: 400 16px/28px 'Montserrat', sans-serif;
  text-align: center;
  border-radius: 3px;
  background: white;
  color: #222222;
  border-bottom: 2px solid lightgray;
}
/* homepage specific */
.home {
  padding-bottom: 0;
  background: lightgray;
}
.intro {
  max-width: 720px;
  margin: 0 auto;
  padding: 80px 0;
  text-align: center;
}
.intro h2 {
  font: 400 34px/40px 'Montserrat', sans-serif;
}
.intro p {
  font: 400 16px/22px 'Montserrat', sans-serif;
  color: gray;
}
@media(max-width: 540px) {
  .home {
    padding-top: 0;
  }
  .intro h2 {
    font: 400 28px/34px 'Montserrat', sans-serif;
  }
  .intro p {
    font: 400 12px/18px 'Montserrat', sans-serif;
  }
}
.splash {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  background: gray;
  background: url(../images/guernica.jpg);
  background-size: 100% auto;
}
.splash:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 45.714%;
}
.s-box {
  position: absolute;
  width: 14.28571%;
  background: lavender;
}
.s-box:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.s-box.i {
  top: 0;
  right: 0;
}
.s-box.ix {
  top: 31.25%;
  right: 14.28%;
}
.s-box.ixi {
  top: 0;
  right: 43.75714%;
}
.s-box.ii {
  top: 93.75%;
  left: 43.75714%;
}
.s-box.xx {
  top: 31.25%;
  left: 0;
}
.s-box.xxi {
  top: 62.5%;
  left: 14.28%;
}

/***********************/
/* logos section */
/***********************/

#logos {
  width: 100%;
  padding: 20px 0;
  background: #ecf0f1;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lavender;
}
#logos .flexi-i {
  padding: 0 10px;
}
.t-logo {
  width: 100%;
  max-width: 180px;
  height: 40px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  background-image: url(../images/paypal.png);
}
.t-logo.paypal {
  background-image: url(../images/paypal.png);
}

/***********************/
/* open market section */
/***********************/

.open_market {
  background: lavender;
}
.open_market h5 {
  font: 800 30px/40px 'Montserrat', sans-serif;
  color: #222222;
}
.open_market .stats_block {
}
.open_market .stats_block > div:not(:last-child) {
  padding-bottom: 10px;
}
.open_market .stats_block .icon {
  flex: 0 0 50px;  
  height: 50px;
  margin: 10px;
}
.open_market .stats_block h3 {
  font: 500 22px/24px 'Montserrat', sans-serif;
  padding-bottom: 5px;
  color: #383838;
}
.open_market .stats_block p {
}
.stat > .icon {
  background: url(../images/conversation.svg);
  background-size: contain;
  background-position: center;
}

/***********************/
/* sharing section */
/***********************/

.sharing {
  text-align: left;
  background: lightgray;
}
.sharing h4 {
  font: 500 18px/24px 'Montserrat', sans-serif;
  max-width: 980px;
  margin-right: auto;
  padding-bottom: 15px;
  color: gray;
}
.sharing .points {
  width: 100%;
  padding: 20px 0;
}
.sharing .points .col {
  height: 120px;
}
.sharing .points .col .icon {
  flex: 0 0 120px;
  height: 120px;
  margin: 0 10px;
  padding: 25px;
  border-radius: 50%;
  background: lavender;
}
.sharing .points .col .icon img {
  display: block;
  width: 70px;
  height: 70px;
}
.sharing .points .col .text {
  /*top: calc(50% - 40px);*/
  margin-top: 25px;
}
.sharing .points .col h3 {
  font: 500 22px/24px 'Montserrat', sans-serif;
  padding-bottom: 10px;
}
.sharing .points .col p {
  font: 500 14px/18px 'Open Sans', sans-serif;
}

/***********************/
/* barrier to entry section */
/***********************/

.low_barrier {
  background: lavender;
}
.low_barrier h1 {
  text-align: center;
}

/***********************/
/* advisors section */
/***********************/

.advisors {
  background: lavender;
}
.advisor {
  flex: 0 0 50%;
  padding-bottom: 30px;
}
@media(min-width: 440px) {.advisor {flex: 0 0 50%;}}
@media(min-width: 660px) {.advisor {flex: 0 0 33.3333%;}}
@media(min-width: 880px) {.advisor {flex: 0 0 25%;}}

.advisor > * {
  margin: 0 auto;
  max-width: 140px;
}
.advisor .img_placeholder {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: gray;
  margin-bottom: 10px;
}
.advisor h5 {
  font: 700 16px/24px 'Montserrat', sans-serif;
}
.advisor p {
  font: 500 12px/14px 'Montserrat', sans-serif;
  color: gray;
}

/***********************/
/* faq section */
/***********************/

.faq {
  background: lightgray;
}
.faq .sidebar {
  flex: 0 0 140px;
  padding-bottom: 20px;
}
.faq .sidebar h4 {
  font: 700 16px/32px 'Montserrat', sans-serif;
}
.faq .sidebar li {
  padding-left: 15px;
  font: 300 12px/18px 'Montserrat', sans-serif;
  cursor: pointer;
}
.faq .left {
  padding-right: 20px;
}
.faq .left {
  padding-left: 20px;
}
.qna h5 {
  font: 700 16px/32px 'Montserrat', sans-serif;
  color: gray;
}
.qna p {
  font: 500 12px/16px 'Montserrat', sans-serif;
  padding-bottom: 15px;
}
.faq hr {
  width: 24px;
  height: 6px;
  background: lightgray;
  border: none;
  margin: 10px 0;
}
.faq .left, .faq .right {
  min-width: 240px;
}
@media(max-width: 480px) {
  .faq .sidebar {
    min-width: 100%;
    text-align: center;
  }
}

/***********************/
/* contact section     */
/***********************/

.contact {
  background: lightgray;
}
.contact h2 {
  font: 700 24px/32px 'Montserrat', sans-serif;
  padding-bottom: 20px;
  color: gray;
}
.contact .sidebar {
  flex: 0 0 320px;
}
.contact .sidebar ul {
  padding-bottom: 15px;
}
.contact .sidebar h4 {
  font: 700 16px/20px 'Montserrat', sans-serif;
}
.contact .sidebar li {
  padding-left: 15px;
  font: 500 14px/20px 'Montserrat', sans-serif;
}
.contact form {

}
.contact form .left {
  padding-right: 5px;
}
.contact form .right {
  padding-left: 5px;
}
.contact form .right input {
  margin-top: 20px;
}
.contact label {
  font: 700 16px/20px 'Montserrat', sans-serif;
  color: gray;
}
.contact input {
  width: 100%;
  border: none;
  outline: none;
  font: 500 18px/32px 'Open Sans', sans-serif;
  padding-left: 5px;
  margin-bottom: 15px;
}
.contact textarea {
  width: 100%;
  border: none;
  outline: none;
  font: 500 18px/32px 'Open Sans', sans-serif;
  padding-left: 5px;
  margin-bottom: 15px;
}
@media(max-width: 920px) {
  .contact .sidebar {
    flex: 0 0 220px;
  }
}
@media(max-width: 680px) {
  .contact .sidebar {
    min-width: 100%;
    text-align: center;
  }
  .contact h2 {
    text-align: center;
  }
}


/***********************/
/* call to action section */
/***********************/
#call_to_action {
  padding: 0;
  margin-top: -80px;
  background: lavender;
  z-index: 400;
}
.call_to_action {
  width: 1060px;
  max-width: calc(100% - 40px);
  bottom: -80px;
  margin: 0 auto;
  padding: 80px;
  border-radius: 3px;
  background: #ecf0f1;
}
.call_to_action .split:first-child {
  border-right: 1px solid lightgray;
}
.call_to_action .split .split-inner {
  width: 100%;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding-left: 40px;
}
.call_to_action .split:first-child .split-inner {
  padding-left: 0;
  padding-right: 40px;
}
.call_to_action h3 {
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
  margin-top: 75px;
  font: 600 24px/28px 'Montserrat', sans-serif;
  text-align: center;
}
.call_to_action label {
  font: 700 16px/20px 'Montserrat', sans-serif;
  color: gray;
}
.call_to_action input {
  width: 100%;
  border: none;
  outline: none;
  font: 500 18px/32px 'Open Sans', sans-serif;
  padding-left: 5px;
  margin-bottom: 10px;
}
.call_to_action .checkbox {
  height: 32px;
  width: 100%;
  margin-bottom: 10px;
  background: lightgray;
  overflow: hidden;
}
.call_to_action .checkbox input {
  flex: 0 0 32px;
  height: 20px;
  padding: 0px;
  margin: 6px;
}
.call_to_action .checkbox p {
  flex: 1 1;
  font: 500 18px/32px 'Open Sans', sans-serif;
}
@media(max-width: 980px) {
  .call_to_action {
    padding: 80px 20px;
  }
}
@media(max-width: 840px) {
  .call_to_action {
    padding: 80px;
  }
  .call_to_action h3 {
    margin-top: 0;
    margin-bottom: 80px;
  }
}
@media(max-width: 620px) {
  .call_to_action {
    padding: 40px;
  }
}
/***********************/
/* footer section      */
/***********************/

footer {
  padding-top: 120px;
  background: darkgray;
}
footer .flexi-i {
  padding-left: 20px;
}
footer #logo {
  display: inline-block;
  width: 165px;
  height: 45px;
  margin-bottom: 5px;
  background: gray;
}
footer a {
  color: #222222;
}
footer .sec h5 {
  font: 700 16px/32px 'Montserrat', sans-serif;
}
footer .sec li {
  font: 300 12px/18px 'Montserrat', sans-serif;
  cursor: pointer;
}
footer .pin {
  display: inline-block;
  height: 16px;
  width: 16px; 
  background: url(../images/pin.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media(max-width: 680px) {
  footer .flexi-i {
    min-width: 200px;
    max-width: 33.333%;
  }
}
@media(max-width: 680px) {
  footer .flexi-i {
    min-width: 100%;
    max-width: 100%;
    text-align: center;
  }
}