---
---

/***********************/
/* ecosystem link section */
/***********************/

.ecosystem {
  padding-bottom: 0;

  h1 {
    text-align: center;
  }
  a {
    margin: 5px;
    border-radius: 3px;
    text-align: center;
    font: 400 16px/28px 'Montserrat', sans-serif;
    background: white;
    color: #222222;
    border-bottom: 2px solid lavender;
  }
}

/***********************/
/* valuation section */
/***********************/

#valuation {
  h2 {
    text-align: center;
    padding-bottom: 80px;
    text-shadow: 2px 4px 10px rgba(0,0,0,0.1);
  }
}

/***********************/
/* winwin section */
/***********************/

#winwin {
  h2 {
    text-align: center;
    padding-bottom: 80px;
    text-shadow: 2px 4px 10px rgba(0,0,0,0.1);
  }
}

/***********************/
/* apo section */
/***********************/

#apo {
  h2 {
    text-align: center;
    padding-bottom: 80px;
    text-shadow: 2px 4px 10px rgba(0,0,0,0.1);
  }

  .temp_block {
    height: 140px;
    background: lavender;
  }
}

/***********************/
/* trading section */
/***********************/

#trading {
  h2 {
    text-align: center;
    padding-bottom: 80px;
    text-shadow: 2px 4px 10px rgba(0,0,0,0.1);
  }

  .temp_block {
    height: 140px;
    background: lavender;
  }
}

/***********************/
/* acquisition section */
/***********************/

#acquisition {
  h2 {
    text-align: center;
    padding-bottom: 80px;
    text-shadow: 2px 4px 10px rgba(0,0,0,0.1);
  }

  .temp_block {
    height: 140px;
    background: lavender;
  }
}


/***********************/
/* multi-step boxes */
/***********************/

.steps {
  column-count: 4;
  column-gap: 20px;

  > .step {
    break-inside: avoid;
    border-radius: 5px;
    background: white;
    margin-bottom: 25px;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.1);

    .graphic {
      width: 100%;
      border-radius: 5px;
    }
    .label {
      width: 100%;
      line-height: 50px;
      text-align: center;
      background: black;
      color: white;
    }
    .text {
      padding: 25px;
      min-height: 160px;
    }
  }
  > .step:not(:last-child) {
    .label::after {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      right: -5px;
      top: calc(50% - 5px);
      background: black;
      transform: rotate(45deg);
    }
    @media(max-width: 960px) { .label::after { display: none; }}
  }
  @media(max-width: 960px) {
    column-count: 2;

    width: 540px;
    max-width: 100%;
    margin: 0 auto;
  }
  @media(max-width: 480px) {
    column-count: 1;
    width: 240px;
  }
}