---
---

/***********************/
/* ecosystem link section */
/***********************/

.ecosystem {
  padding-bottom: 0;

  h1 {
    text-align: center;
  }
  a {
    margin: 5px;
    border-radius: 3px;
    text-align: center;
    font: 400 16px/28px 'Montserrat', sans-serif;
    background: white;
    color: #222222;
    border-bottom: 2px solid lavender;
  }
}

/***********************/
/* evaluation section */
/***********************/

#evaluation {
  h2 {
    text-align: center;
    padding-bottom: 80px;
    text-shadow: 2px 4px 10px rgba(0,0,0,0.1);
  }
}

/***********************/
/* winwin section */
/***********************/

#winwin {
  h2 {
    text-align: center;
    padding-bottom: 80px;
    text-shadow: 2px 4px 10px rgba(0,0,0,0.1);
  }
}

/***********************/
/* apo section */
/***********************/

#apo {
  .temp_block {
    height: 140px;
    background: lavender;
  }
}

/***********************/
/* trading section */
/***********************/

#trading {
  .temp_block {
    height: 140px;
    background: lavender;
  }
}

/***********************/
/* acquisition section */
/***********************/

#acquisition {
  .temp_block {
    height: 140px;
    background: lavender;
  }
}
