---
---

/***********************/
/* ecosystem link section */
/***********************/

.ecosystem {
  padding-bottom: 0;

  h1 {
    text-align: center;
  }
  a {
    margin: 5px;
    border-radius: 3px;
    text-align: center;
    font: 400 16px/28px 'Montserrat', sans-serif;
    background: white;
    color: #222222;
    border-bottom: 2px solid lavender;
  }
}

/***********************/
/* apo section */
/***********************/

#apo {
  .flex-shrink {
    > .s-title {
      padding-bottom: 20px;
    }
    > p {
      text-align: center;
      padding-bottom: 40px;
    }
  }
}

/***********************/
/* trading section */
/***********************/

#trading {
  text-align: justify;

  h4 { text-align: left; }
  .mid {
    margin: 0 15px;
  }

  @media(max-width: 800px) {
    .flexi-c {
      flex-direction: column;
    }
    .mid {
      margin: 15px 0;
    }
  }
}

/***********************/
/* acquisition section */
/***********************/

#acquisition {
  .flex-shrink {
    > .s-title {
      padding-bottom: 20px;
    }
    > p {
      text-align: center;
      padding-bottom: 40px;
    }
  }
}

/***********************/
/* Use Cases section */
/***********************/

#cases {
  padding-top: 0;

  .flex-shrink {
    > .s-title {
      padding-bottom: 20px;
    }
    > p {
      text-align: center;
      padding-bottom: 40px;
      @media(max-width: 700px) { padding-bottom: 0; }
    }
  }

  .sidebar {
    flex: 0 1 180px;
    padding-top: 24px;
    padding-right: 20px;

    li {
      display: block;
      padding: 10px;
      margin-bottom: 10px;
      text-align: center;
      cursor: pointer;
    }
    .active {
      border-radius: 5px;
      background: white;
      box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.1);
    }
  }
  .case {
    display: none;
    p {
      padding-bottom: 10px;
    }
  }
  .active {
    display: block;
  }

  @media(max-width: 700px) {
    .flexi-c {
      flex-direction: column;
    }
  }
}

/***********************/
/* multi-step boxes */
/***********************/

.steps {
  width: 920px;
  max-width: 100%;
  margin: 0 auto;

  .step {
    width: 200px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.1);
    cursor: pointer;

    .graphic {
      display: block;
      width: 100%;
      padding-bottom: 80%;
      border-radius: 5px;
      background-size: 60% auto !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
    }
    .label {
      width: 100%;
      line-height: 50px;
      text-align: center;
      background: black;
      color: white;
    }
    &.active {
      border: 1px solid black;
      box-shadow: 0px 8px 15px 3px rgba(0,0,0,0.3);
    }
  }
  > div:not(:last-child)::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    right: -5px;
    top: calc(50% - 5px);

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid gray;
  }

  @media(max-width: 700px) {
    .step {
      width: 100px;

      .label {
        padding: 0 10px;
        font: 500 12px/20px 'Montserrat', sans-serif;
      }
    }
  }
}
.step-content {
  width: 840px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  text-align: justify;

  >div {display: none;}
  >div.active {display: block;}
}