/***********************/
/* tech specific       */
/***********************/

section {
  padding-bottom: 0;
}

/***********************/
/* ecosystem link section */
/***********************/

.ecosystem {

}
.ecosystem h1 {
  text-align: center;
}
.ecosystem a {
  margin: 5px;
  border-radius: 3px;
  text-align: center;
  font: 400 16px/28px 'Montserrat', sans-serif;
  background: white;
  color: #222222;
  border-bottom: 2px solid lavender;
}

/***********************/
/* evaluation section */
/***********************/
#evaluation {

}

/***********************/
/* winwin section */
/***********************/

#winwin {

}

/***********************/
/* apo section */
/***********************/

#apo {
}
#apo .temp_block {
  height: 140px;
  background: lavender;
}

/***********************/
/* trading section */
/***********************/

#trading {
}
#trading .temp_block {
  height: 140px;
  background: lavender;
}

/***********************/
/* acquisition section */
/***********************/

#acquisition {
  padding-bottom: 80px;
}
#acquisition .temp_block {
  height: 140px;
  background: lavender;
}
