---
layout: default
title: FAQ
---

<header>
  <div class="flex-shrink">
    <h1>FAQ</h1>

    <p>You've got questions?</p>
    <p>We've probably got an answer...</p>
  </div>
</header>

<section class="faq">
  <div class="flex-shrink">
    <div class="flexi-c r w">
    {% assign categories = site.faqs | group_by: "category" %}

      <div class="flexi-i sidebar">
        <h2>Topics</h2>

        <ul>
          {% for c in categories %}
            <li onclick="activeCase(this)" data-name="c_{{c.name | handleize}}">{{ c.name | capitalize }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="flexi-i" id="topics">
        {% for c in categories %}

          {% if forloop.first == true %}
          <div id="c_{{c.name | handleize}}" class="active">
          {% else %}
          <div id="c_{{c.name | handleize}}">
          {% endif %}

            <h2 id="category_{{c.name}}">{{ c.name | capitalize }}</h2>

            {% for q in c.items %}
              <div class="qna">
                <h5>{{ q.question }}</h5>
                
                {{ q.content }}
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
</section>

<script type="text/javascript">
  function activeCase(what) {
    Array.from(document.getElementById("topics").children)
    .forEach(function(text) {
      text.classList.remove("active")
    })
    document.getElementById(what.dataset.name).classList.add("active")
  }
</script>