---
layout: default
title: Tech
name: tech
---

<section id="apo">
  <div class="flex-shrink">
    <h2 class="s-title">Art Public Offering (APO)</h2>

    <p>Art Public Offering (APO) is a process for generating and offering art share that enables a divided ownership, shared by many.</p>

    <div class="steps flexi-c r">
      {% for s in site.APO_steps %}
        {% if forloop.first==true %}{% assign active=' active' %}{% else %}{% assign active='' %}{% endif %}

        <div class="flexi-i">
          <div class="apoLink step{{active}}" onClick="activeAPO(this)" data-label="s_{{s.label | handleize}}">
            <img src="{{s.graphic}}" class="graphic">
            <h4 class="label">{{s.label}}</h4>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="step-content" id="apoTexts">
      {% for s in site.APO_steps %}
        {% if forloop.first==true %}{% assign active=' active' %}{% else %}{% assign active='' %}{% endif %}
        
        <div class="{{active}}" id="s_{{s.label | handleize}}">
          {{s.content}}
        </div>
      {% endfor %}
    </div>
  </div>

  <script type="text/javascript">
    function activeAPO(what) {
      Array.from(document.getElementsByClassName("apoLink"))
      .forEach(function(link) {
        link.classList.remove("active")
      })
      what.classList.add("active")

      Array.from(document.getElementById("apoTexts").children)
      .forEach(function(text) {
        text.classList.remove("active")
      })
      document.getElementById(what.dataset.label).classList.add("active")
    }
  </script>
</section>

<div class="h-line"><div></div></div>

<section id="trading">
  <div class="flex-shrink">
    <h2 class="s-title">Trading Shares</h2>

    <div class="flexi-c r">
      <div class="flexi-i">
        <h4>Account setup and loading currency</h4>

        <p>All users can perform both profile setup and Ethereum-based trading account setup with ease through our user-friendly system, which is more convenient than dealing with the systems of traditional financial institutions. Once the setup is complete, users can load their accounts with Digital USD (dUSD) through transfer of cash or cryptocurrency, or with a credit card purchase, to use for art share trading. Artstock Exchange also provides a unique account management system to allow users to easily manage their account balances and their trading histories.</p>
      </div>

      <div class="flexi-i mid">
        <h4>Buying and selling art shares</h4>

        <p>A buyer who is interested in a listed artwork can always check its metadata, such as its certificate of authenticity, existence of insurance, display location, and expert reviews. Additionally, user-based reviews are also available to read or comment about the artwork. Users can study the order books for the market demands, and may place orders accordingly; any interested buyer can submit (or take) an offer that satisfies a shareholder’s demand, and any interested seller can submit (or take) an offer that satisfies a buyer’s demand. By creating a market that is similar to a stock exchange, we provide a platform already familiar to many users.</p>
      </div>

      <div class="flexi-i">
        <h4>Processing the transaction</h4>

        <p>Once the order is taken and the transaction is processed, escrowed art shares and money are distributed and directly deposited to the buyer’s and the seller’s accounts, respectively. There are no blockchain gas fees involved, but 0.1% (tentatively) of the transaction amount is retrieved  from both parties separately as a trading fee. Following the transaction, distributed shares can be immediately traded again, and the distributed money can be immediately cashed out. Unlike the traditional stock market where trades can only occur during open hours and require a few days to process settlements, Artstock Exchange’s 24-hour global platform offers more flexibility.</p>
      </div>
    </div>
  </div>
</section>

<div class="h-line"><div></div></div>

<section id="acquisition">
  <div class="flex-shrink">
    <h2 class="s-title">Acquisition and Delisting Process</h2>

    <p>Artstock Exchange provides a new paradigm of art distribution.</p>

    <div class="steps flexi-c r">
      {% for s in site.acquisition_steps %}
        {% if forloop.first==true %}{% assign active=' active' %}{% else %}{% assign active='' %}{% endif %}

        <div class="flexi-i">
          <div class="acqLink step{{active}}" onClick="activeAcq(this)" data-label="s_{{s.label | slugify}}">
            <img src="{{s.graphic}}" class="graphic">
            <h4 class="label">{{s.label}}</h4>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="step-content" id="acqTexts">
      {% for s in site.acquisition_steps %}
        {% if forloop.first==true %}{% assign active=' active' %}{% else %}{% assign active='' %}{% endif %}
        
        <div class="{{active}}" id="s_{{s.label | slugify}}">
          {{s.content}}
        </div>
      {% endfor %}
    </div>
  </div>

  <script type="text/javascript">
    function activeAcq(what) {
      Array.from(document.getElementsByClassName("acqLink"))
      .forEach(function(link) {
        link.classList.remove("active")
      })
      what.classList.add("active")

      Array.from(document.getElementById("acqTexts").children)
      .forEach(function(text) {
        text.classList.remove("active")
      })
      document.getElementById(what.dataset.label).classList.add("active")
    }
  </script>
</section>

<section id="cases">
  <div class="flex-shrink">
    <h2 class="s-title">Use Cases</h2>

    <p>Here are examples of how to use Artstock Exchange</p>

    <div class="flexi-c r w">
      <div class="flexi-i sidebar">
        <ul id="caseLinks">
          {% for c in site.cases %}
            {% if forloop.first==true %}{% assign active=' active' %}{% else %}{% assign active='' %}{% endif %}
            
            <li onclick="activeCase(this)" data-name="c_{{c.name | handleize}}" class="{{active}}">{{c.name}}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="flexi-i" id="caseTexts">
        {% for c in site.cases %}
          {% if forloop.first==true %}{% assign active=' active' %}{% else %}{% assign active='' %}{% endif %}

          <div class="case{{active}}" id="c_{{c.name | handleize}}">
            <h5>{{c.name}}</h5>
            {{c.content}}
          </div>
        {% endfor %}
      </div>
  </div>

  <script type="text/javascript">
    function activeCase(what) {
      Array.from(document.getElementById("caseLinks").children)
      .forEach(function(link) {
        link.classList.remove("active")
      })
      what.classList.add("active")

      Array.from(document.getElementById("caseTexts").children)
      .forEach(function(text) {
        text.classList.remove("active")
      })
      document.getElementById(what.dataset.name).classList.add("active")
    }
  </script>
</section>
