---
layout: default
title: Tech
---

<header>
  <div class="flex-shrink">
    <h1>Tech</h1>

    <a href="#" class="whitepaper">Business Whitepaper</a>
    <a href="#" class="whitepaper">Technical Whitepaper</a>
  </div>
</header>

<section class="ecosystem">
  <div class="flex-shrink">
    <h1>A New Art Ecosystem</h1>

    <div class="flexi-c r">
      <a href="#apo" class="flexi-i">Art Public Offering (APO)</a>
      <a href="#trading" class="flexi-i">Trading Shares</a>
      <a href="#acquisition" class="flexi-i">Art Acquisition </a>
    </div>

    <div class="flexi-c r">
      <a href="#valuation" class="flexi-i">Valuation</a>
      <a href="#winwin" class="flexi-i">Win/Win</a>
    </div>
  </div>
</section>

<section id="apo">
  <div class="flex-shrink">
    <h2 class="s-title">Art Public Offering (APO)</h2>

    <p>Art Public Offering (APO) is a process for generating and offering art share that enables a divided ownership, shared by many.</p>

    <div class="steps">
      {% for s in site.data.valuation %}
        <div class="step">
          <img src="{{s.graphic}}" class="graphic">
          <h4 class="label">{{s.label}}</h4>
          <div class="text">
            <p>{{s.text}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<div class="h-line"><div></div></div>

<section id="trading">
  <div class="flex-shrink">
    <h2 class="s-title">Trading Shares</h2>

    <div class="split">
      <div>
        <h4>What it is</h4>

        <p>Through the trading of art shares, artwork’s appropriate pricing that reflects the market’s supply and demand can be discovered. Anyone who is interested in buying an art share must submit (or take) an offer that satisfies shareholder’s demand. Any shareholder who wants to sell a share that he/she owns must submit (or take) an offer that satisfies buyer’s demand.</p>
      </div>

      <div>
        <h4>What it means</h4>

        <p>Investors who can properly assess the artwork’s true value can profit from the trading of art shares.</p>
      </div>
    </div>
  </div>
</section>

<div class="h-line"><div></div></div>

<section id="acquisition">
  <div class="flex-shrink">
    <h2 class="s-title">Acquisition</h2>

    <p>Artstock Exchange provides a new paradigm of art distribution.</p>

    <div class="steps">
      {% for s in site.data.winwin %}
        <div class="step">
          <img src="{{s.graphic}}" class="graphic">
          <h4 class="label">{{s.label}}</h4>
          <div class="text">
            <p>{{s.text}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="cases">
  <div class="flex-shrink">
    <h2 class="s-title">Use Cases</h2>

    <p>Here are examples of how to use Artstock Exchange</p>

    <div class="flexi-c r w">
      <div class="flexi-i sidebar">
        <ul id="caseLinks">
          {% for c in site.cases %}
            {% if forloop.first == true %}
              <li onclick="activeCase(this)" data-name="c_{{c.name | handleize}}" class="active">{{c.name}}</li>
            {% else %}
              <li onclick="activeCase(this)" data-name="c_{{c.name | handleize}}">{{c.name}}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      <div class="flexi-i" id="caseTexts">
        {% for c in site.cases %}
          {% if forloop.first == true %}
            <div class="case active" id="c_{{c.name | handleize}}">
          {% else %}
            <div class="case" id="c_{{c.name | handleize}}">
          {% endif %}
              <h5>{{c.name}}</h5>
              {{c.content}}
            </div>
        {% endfor %}
      </div>
  </div>
</section>

<script type="text/javascript">
  function activeCase(what) {
    Array.from(document.getElementById("caseLinks").children)
    .forEach(function(link) {
      link.classList.remove("active")
    })
    what.classList.add("active")

    Array.from(document.getElementById("caseTexts").children)
    .forEach(function(text) {
      text.classList.remove("active")
    })
    document.getElementById(what.dataset.name).classList.add("active")
  }
</script>