<footer>
  <div class="flex-shrink">
    <div class="flexi-c r w">
      <div class="flexi-i">
        <a href="index.html" id="logo"></a>
        <p>© 2017 Artstock Exchange</p>
      </div>

      <div class="flexi-i">
        <ul class="sec">
          <h5>Palo Alto <span class="pin"></span></h5>

          <li><a href="#">Artstock Exchange</a></li>
          <li>1755 University Ave.</li>
          <li>Palo Alto, CA 94301</li>

          <li>contact@artstockx.com</li>
        </ul>
      </div>

      <div class="flexi-i">
        <ul class="sec">
          <h5>Company</h5>

          <li>Blog</li>
          <li>Github</li>
          <li>Facebook</li>
          <li>Twitter</li>
        </ul>
      </div>


      <div class="flexi-i">
        <ul class="sec">
          <h5>Resources</h5>

          <li>Blog</li>
          <li>Github</li>
          <li>Facebook</li>
          <li>Twitter</li>
        </ul>
      </div>

      <div class="flexi-i">
        <ul class="sec">
          <h5>Social</h5>

          <li>Blog</li>
          <li>Github</li>
          <li>Facebook</li>
          <li>Twitter</li>
        </ul>
      </div>
    </div>
  </div>
</footer>