<nav id="nav">
  <div class="flex-shrink flexi-c r">
    <li class="left flexi-c r">
      <a href="index.html" class="flexi-i" id="logo"></a>
      <div id="menu" onClick="document.getElementById('nav').classList.toggle('open')"></div>
    </li>
    {% if page.name=='index.html' %}{% assign active=' h-button' %}{% else %}{% assign active='' %}{% endif %}

    <li class="h-link {{active}}">
      <a href="index.html" class="flexi-i">About Artstock Exchange</a>

      <ul class="dropdown">
        <li><a href="index.html#background">background</a></li>
        <li><a href="index.html#concept">concept</a></li>
        <li><a href="index.html#tech">technology</a></li>
        <li><a href="index.html#team">team</a></li>
        <li><a href="index.html#vision">vision</a></li>
      </ul>
    </li>

    {% if page.name=='tech.html' %}{% assign active=' h-button' %}{% else %}{% assign active='' %}{% endif %}

    <li class="h-link {{active}}">
      <a href="tech.html" class="flexi-i">Services</a>

      <ul class="dropdown">
        <li><a href="tech.html#apo">apo</a></li>
        <li><a href="tech.html#trading">trading</a></li>
        <li><a href="tech.html#acquisition">acquisition</a></li>
        <li><a href="tech.html#cases">use cases</a></li>
      </ul>
    </li>

    {% if page.name=='roadmap.html' %}{% assign active=' h-button' %}{% else %}{% assign active='' %}{% endif %}
    <li class="h-link {{active}}">
      <a href="roadmap.html" class="flexi-i">History & Direction</a>

      <ul class="dropdown">
        <li><a href="roadmap.html#roadmap">timeline</a></li>
        <li><a href="roadmap.html#milestones">milestones</a></li>
      </ul>
    </li>
    
    {% if page.name=='faq.html' %}{% assign active=' h-button' %}{% else %}{% assign active='' %}{% endif %}
    <li class="h-link {{active}}"><a href="faq.html" class="flexi-i">Q&A</a></li>


    {% if page.name=='contact.html' %}{% assign active=' h-button' %}{% else %}{% assign active='' %}{% endif %}
    <li class="h-link {{active}}"><a href="contact.html" class="flexi-i">Contact Us</a></li>

  </div>
</nav>
<div class="nav_spacer"></div>
